@font-face {
  font-family: 'FormularMedium';
  src: url('formular-medium.eot');
  src:
       url('formular-medium.eot?#iefix') format('embedded-opentype'),
       url('formular-medium.woff') format('woff'),
       url('formular-medium.ttf') format('truetype'),
       url('formular-medium.svg#Formular-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
html { font-family: 'FormularMedium',sans-serif; }

a:link, a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}

h1, h2, h3, h4, h5 {font-weight: normal !important;}


.wip a:link::after,
.wip a:hover::after  {
  border: none !important;
}

.wip { /* Masonry container */
  column-count: 2;
  column-gap: 0.3em;
}

.wip .item { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 0.3em;
  width: 100%;
}

@media only screen and (min-width: 1920px) {
  .wip {
    column-count: 2;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  .wip {
    column-count: 2;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .wip {
    column-count: 2;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .wip {
    column-count: 1;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 240px) {
  .wip {
    column-count: 1;
  }
}
