@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


/*
    General
*/
body {
  background: #fff;
  color: #212529;
}

a:link, a:visited {
  color: #1C7ED6;
  text-decoration: none;
  position: relative;
}
a::after, a:visited::after {
  content:'';
  position:absolute;
  width: 100%;
  height: 0;    
  left:0;
  bottom: 4px;                   
  border-bottom: 1px solid rgba(28, 126, 214, 0.3);
}
a:hover { color: #FA5252 !important; text-decoration: none; }
a:hover::after { border-bottom: 1px solid rgba(250,82,82,0.45) !important; }

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h2 small {
  color: #FA5252;
  font-weight: 400;
}
p {
  font-weight: 400;
}

/*
    Shared Header
*/
/* Link Colors */
header a::after, header a:visited::after { bottom: 2px;  }
#nav-experience a:link, #nav-experience a:visited { color: #15AABF; }
#nav-experience a:link::after, #nav-experience a:visited::after { border-bottom: 1px solid rgba(21,170,191,0.30); }
#nav-moodboard a:link, #nav-moodboard a:visited { color: #7048E8; }
#nav-moodboard a:link::after, #nav-moodboard a:visited::after { border-bottom: 1px solid rgba(112,72,232,0.30); }
#nav-reading a:link, #nav-reading a:visited { color: #51CF66; }
#nav-reading a:link::after, #nav-reading a:visited::after { border-bottom: 1px solid rgba(81,207,102,0.30); }
#nav-traveling a:link, #nav-traveling a:visited { color: #FCC419; }
#nav-traveling a:link::after, #nav-traveling a:visited::after { border-bottom: 1px solid rgba(252,196,25,0.30); }
/* Adaptive Navigation */
@media (max-width:499px) {
  header .f2 {
    font-size: 28px;
  }
  header h1 {
    margin-top: 30px !important;
  }
  header ul li.active {
    background: none;
  }
}
/* Navigation */
header ul {
  position: relative;
}
header ul li {
  list-style-type: none;
  display: inline;
}
header ul li.active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='5px' height='5px' viewBox='0 0 5 5' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' fill='%23212529' cx='2.5' cy='2.5' r='2.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 35px;
  padding-bottom: 15px;
}
@media (max-width:499px) {
  header ul li.active {
    background: none !important;
    padding-bottom: auto;
  }
}


.date {
  color: #FA5252;
}
hr {
  border: none;
  border-bottom: 1px solid #eee;
}

/*
    Homepage
*/
#homepage-intro p,
#homepage-links p {
  font-weight: 300;
}
#homepage {
  overflow: hidden;
}
#homepage .content {
  min-height: calc(100vh - 130px);
}
#homepage .footer {
  height: 110px;
}
@media (max-width:499px) {
  #homepage {
    overflow: auto;
  }
  #homepage .content {
    min-height: inherit;
  }
  #homepage .footer {
    height: inherit;
  }
}

#homepage .footer ul li {
  display: inline-block;
  height: 58px;
  vertical-align: top;
}
#homepage .footer ul li:last-child a {
  position: relative;
  top: 12px;
}
.social-tg a::after,
.social-gr a::after,
.social-ig a::after,
.social-tg a:visited::after,
.social-gr a:visited::after,
.social-ig a:visited::after {
  border: none !important;
}
.social-tg a:hover,
.social-gr a:hover,
.social-ig a:hover {
  opacity: 0.8;
}

/*
  Experience
*/
#page-experience p {
  max-width: 1400px;
}
#experience-methods h2 {

}


#experience-process ul {
  padding-left: 0;
}
#experience-process li {
  list-style-type: none;
}
#experience-process h5 {
  font-weight: 600;
}

#experience-qna dt {
  color: #FA5252;
}



/* 
  Moodboard
  http://w3bits.com/css-masonry/

*/
#page-moodboard .masonry a:link::after,
#page-moodboard .masonry a:hover::after  {
  border: none !important;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

@media only screen and (min-width: 1920px) {
  .masonry {
    column-count: 5;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 240px) {
  .masonry {
    column-count: 1;
  }
}


/* 
  Reading
*/
.reading dd { position: relative; }
.reading ul li {position: relative}
.reading .author {font-weight: 500; margin-right: 5px; display: block}
.reading .fav-book { position: absolute; left: -25px; top: 23px;}
.reading .thumbnails img,
.gr_grid_book_container img {
  height: 30px;
  display:block; 
  float: left;
}



/* 
  Traveling
*/

.dtc {
  padding-right: 15px;
}
@media (max-width:999px) {
  .dtc {
    display: table-row;
    padding-right: 0;
  }
}