a:link,
a:visited {
  color: #ff4136;
  border-bottom: 1px solid rgba(255,113,92,0.3);
  text-decoration: none;
}
a:hover {
  color: #e7040f;
  border-bottom: 1px solid rgba(255,113,92,0.8);
}
a:active {
  color: #ff4136;
}

span.selected {
  background: rgb(245, 245, 234);
  padding: 3px 7px;
}

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (orientation : portrait) {
  h1 {
    font-size: 24px !important;
  }
  main {
    padding: 2rem !important;
  }
}
