body {
  background: #fff;
  color: #212529;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;  
}

a:link {
  color: #1C7ED6;
  text-decoration: none;
  position: relative;
}
a::after {
  content:'';
  position:absolute;
  width: 100%;
  height: 0;    
  left:0;
  bottom: 4px;                   
  border-bottom: 1px solid rgba(28, 126, 214, 0.3);
}

#nav-experience a:link, #nav-experience a:visited { color: #FA5252; }
#nav-experience a:link::after, #nav-experience a:visited::after { border-bottom: 1px solid rgba(250,82,82,0.30); }
#nav-moodboard a:link, #nav-moodboard a:visited { color: #7048E8; }
#nav-moodboard a:link::after, #nav-moodboard a:visited::after { border-bottom: 1px solid rgba(112,72,232,0.30); }
#nav-reading a:link, #nav-reading a:visited { color: #51CF66; }
#nav-reading a:link::after, #nav-reading a:visited::after { border-bottom: 1px solid rgba(81,207,102,0.30); }
#nav-traveling a:link, #nav-traveling a:visited { color: #E8590C; }
#nav-traveling a:link::after, #nav-traveling a:visited::after { border-bottom: 1px solid rgba(232,89,12,0.30); }

a:hover { color: #FA5252 !important; text-decoration: none; }
a:hover::after { border-bottom: 1px solid rgba(250,82,82,0.45) !important; }



@media (max-width:499px) {
  header .f2 {
    font-size: 28px;
  }
  header h1 {
    margin-top: 30px !important;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

header h1 {
  font-weight: 400;
}
header ul li {
  list-style-type: none;
  display: inline;
}
header ul li.active {
  font-weight: 500;
}
header ul li span {
  font-weight: 400;
}

h3.company {
  font-weight: 400;
}
.date {
  color: #FA5252;
}
hr {
  border: none;
  border-bottom: 1px solid #eee;
}

/*
  Experience
*/
#page-experience p {
  max-width: 1400px;
}

/* 
  Moodboard
  http://w3bits.com/css-masonry/

*/
#page-moodboard .masonry a:link::after,
#page-moodboard .masonry a:hover::after  {
  border: none !important;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

@media only screen and (min-width: 1920px) {
  .masonry {
    column-count: 5;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 240px) {
  .masonry {
    column-count: 1;
  }
}


/* 
  Reading
*/
.reading dd { position: relative; }
.reading .fav-book { position: absolute; left: -30px; top: 5px;}
.reading h2 { font-weight: 300; }
/*.reading-publisher { color: #999; }*/
.reading .thumbnails img {
  height: 90px;
  display:block; 
  float: left;
}
.reading h2 small {
  color: #FA5252;
}

/* 
  Traveling
*/
/* #page-traveling {
  background: #212529 url(traveling/map.svg) no-repeat center -40px;
} */

.traveling h2,
.traveling h3 {
  font-weight: 300;
}

.traveling h2 small {
  color: #FA5252;
}

/*.travel-date {
  color: #999;
}*/

.dtc {
  padding-right: 15px;
}