a:link,
a:visited {
  color: #ff4136;
  border-bottom: 1px solid rgba(255,113,92,0.3);
  text-decoration: none;
}
a:hover {
  color: #e7040f;
  border-bottom: 1px solid rgba(255,113,92,0.8);
}
a:active {
  color: #ff4136;
}

span.selected {
  background: rgb(245, 245, 234);
  padding: 3px 7px;
}

/** {
  font-family: 'Avenir Next';
}*/
